$markerBlue: #8eebfc;
$markerPink: #ff70b6;
$markerYellow: #fce17c;

$backBlue: #cff8ff8c;
$backPink: #ffbddd;
$backYellow: #fff5d1;
$backWhite: #fdfdfd;


$txDark: #444444;
$txBlue: #909cb0;
$txWhite: white;
$txDarkBlue: #5b6c8f;

$buttonBlue: #3358a1;
$buttonYellow:  #fce17c;
$buttonPink: #fe198e;